<form action="/user/forget-password" method="POST">
    <label for="email">Enter Your E-mail</label>
    <input type="email" name="email" id="email" placeholder="your email">
    <button>Send Reset Password E-Mail</button>
</form>