<header>
    <h3>Socio</h3>
        <ul>
            <% if(locals.user){ %>
                <li>
                    <a href="/user/profile/<%= user.id %>">
                    <%= locals.user.name %>
                    </a>
                </li>
                <li>
                    <a href="/user/signout">Sign-out</a> 
                </li>
            <%}else{ %>
                <li>
                    <a href="/user/signin">Sign-in</a>
                    <a href="/user/signup">Sign-up</a>
                </li>
            <%}%>    
        </ul>
</header>