<main>
    <form action="/user/reset-password/<%= userId %>" method="POST">
        <label for="password" >Password:</label>
        <input type="password" name="password" id="password">
        <label for="confirm" >Confirm Password:</label>
        <input type="password" name="confirm" id="confirm">
        <button>Reset</button>
    </form>
</main>