<main>
<form action="signin-user" method="POST">
    <label for="email" >E-mail:</label>
    <input type="email" name="email" id="email">
    <label for="password" >Password:</label>
    <input type="password" name="password" id="password">
    <button>Sign-in</button>
</form>
<a href="/user/auth/google">Sign-in/sign-up using google</a>
</main>