<main>
<form action="signup-user" method="POST">
    <label for="name" >Name:</label>
    <input type="text" name="name" id="name">
    <label for="email" >E-mail:</label>
    <input type="email" name="email" id="email">
    <label for="password" >Password:</label>
    <input type="password" name="password" id="password">
    <label for="confirm" >Confirm Password:</label>
    <input type="password" name="confirm" id="confirm">
    <button>Sign-Up</button>
</form>
<p>
    <a href="/user/auth/google">Sign-in/sign-up using google</a>
</p>
</main>