/* header section */
header{
    margin-top:10px;
    height: 4rem;
    background-color:lightblue;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

header h3{
    margin-left: 17px;
}

ul{
    list-style: none;
    width:20%;
}

li{
    display: inline-flex;
    margin-right: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

/* main body */
main{
    height:100%;
}

/* footer section */
footer{
    height:3rem;
    background-color: rgb(114, 247, 114);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

footer span{
    text-transform: capitalize;
    text-align: center;
    margin-top: 10px;;

}