header{
    margin-top:10px;
    height: 4rem;
    background-color:lightblue;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

ul{
    list-style: none;
    width:20%;
}

li{
    display: inline-flex;
    margin-right: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}


